h1 {
  font-family: cursive;
  margin: auto;
  padding: auto;
  text-align: center;
}
body {
    width: 50%;
    background-image: url(https://images4.fanpop.com/image/photos/19200000/Nebulas-space-19260888-1024-768.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}
p {
  font-size: 30px;
  width: 100%;
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}